<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf=8">
        <title>Vishal Portfolio</title>
    </head>
    <body>
        {{> header}}

        <p>This is project page</p>

       {{> footer}}
    </body>
</html>